/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Homemade+Apple&display=swap');

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 1rem 10rem;
    background-color: #F3F1F7;
    text-align: center;
}
